<a href="https://colab.research.google.com/github/Joseph89155/Netflix-Data-Wrangling/blob/main/Netflix_data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Title: Netflix Data Wrangling Project
# Name: Joseph Maina
# Date: May 2025

"""
Overview:
This project demonstrates how to clean and structure a real-world dataset Netflix's catalog of TV shows and movies using data wrangling techniques in Python.

Problem Statement:
The original Netflix dataset, sourced from Kaggle, contains inconsistencies such as missing values, duplicates, unstructured columns (like 'duration'), and errors in date fields. Such issues make it unreliable for analysis and visualization, potentially leading to inaccurate insights.

Objective:
The goal of this project is to transform the messy Netflix dataset into a clean, consistent, and analysis-ready format. By doing this, we simulate the kind of real-life data cleaning tasks faced by data professionals before any meaningful analysis or machine learning work can begin.

Solution Summary:
- Load and explore the dataset using Pandas.
- Perform data discovery: assess data types, missing values, and duplicates.
- Clean and structure the dataset by formatting dates, splitting columns, and imputing values.
- Apply logic to resolve anomalies (e.g., date inconsistencies).
- Validate and export the cleaned dataset for future use.

This process mimics how a data analyst would prepare streaming data for business reports, user behavior insights, or recommendation engine development.

Outcome:
A structured and cleaned Netflix dataset ready for analysis or integration into larger data pipelines.
"""

## Loading and Previewing the Data.

Dataset - [Nefix Shows](https://www.kaggle.com/datasets/shivamb/netflix-shows)

In [1]:
# Import Libraries
import pandas as pd
import numpy as np

In [2]:
# Load the Netflix Dataset
df = pd.read_csv('netflix_titles.csv')

In [3]:
#Previewing the top of the dataset
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
#Previewing the bottom of the dataset
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

# Data Discovery.
Perform a thorough assessment of the Netflix dataset to understand its shape, data types, and potential issues.

In [5]:
# Basic structure of the dataset
print("🔹 Dataset Info")
df.info()

🔹 Dataset Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
# Shape of the dataset
print("\n🔹 Dataset Shape (rows, columns):", df.shape)

🔹 Dataset Shape (rows, columns): (8807, 12)

In [7]:
# List of all column names
print("\n🔹 Column Names:\n", df.columns.tolist())

🔹 Column Names:
 ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

In [8]:
# Data types of each column
print("\n🔹 Data Types:\n", df.dtypes)

🔹 Data Types:
 show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [9]:
# Count of missing (null) values per column
print("\n🔹 Missing Values per Column:\n", df.isnull().sum())

🔹 Missing Values per Column:
 show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [10]:
# Count of duplicate rows
print("\n🔹 Number of Duplicate Rows:", df.duplicated().sum())

🔹 Number of Duplicate Rows: 0

# Structuring the Data.
clean and structure a few key columns:

In [11]:
# Convert date_added to datetime
df['date_added'] = pd.to_datetime(df['date_added'], format='mixed')

In [12]:
# Split the duration column into value and unit.
df[['duration_value', 'duration_unit']] = df['duration'].str.extract(r'(\d+)\s*(\w+)')
df['duration_value'] = pd.to_numeric(df['duration_value'])

In [13]:
# Preview the result.
print(df[['duration', 'duration_value', 'duration_unit']].head(10))

    duration  duration_value duration_unit
0     90 min            90.0           min
1  2 Seasons             2.0       Seasons
2   1 Season             1.0        Season
3   1 Season             1.0        Season
4  2 Seasons             2.0       Seasons
5   1 Season             1.0        Season
6     91 min            91.0           min
7    125 min           125.0           min
8  9 Seasons             9.0       Seasons
9    104 min           104.0           min

# Cleaning the Data.
 Fixing, filtering, or removing incorrect, inconsistent, or irrelevant data to prepare for analysis.
 I'll focus on;

 1. Missing Data — Detect and handle nulls or blanks.

2. Inconsistent Entries — Fix typos or variations in fields like rating, type, country, duration_unit.

3. Duplicates — Check for and remove exact or near-duplicate rows.

4. Unnecessary Columns — Drop anything we won’t need.

5. Trim & Strip Strings — Ensure text fields are clean.

In [14]:
# Explore Missing Values
df.isnull().sum().sort_values(ascending=False)

director          2634
country            831
cast               825
date_added          10
rating               4
duration             3
duration_value       3
duration_unit        3
show_id              0
type                 0
title                0
release_year         0
description          0
listed_in            0
dtype: int64

In [15]:
# Fill missing string fields with 'Unknown'
df['director'].fillna('Unknown', inplace=True)
df['country'].fillna('Unknown', inplace=True)
df['cast'].fillna('Unknown', inplace=True)

# Fill rating with mode (most common value)
df['rating'].fillna(df['rating'].mode()[0], inplace=True)

# Fill date_added with 'Unknown' or convert to datetime and impute with median date
df['date_added'].fillna('Unknown', inplace=True)

# For duration-related fields
df[['duration', 'duration_value', 'duration_unit']] = df[['duration', 'duration_value', 'duration_unit']].fillna('Unknown')

<ipython-input-15-87d98f5cfa43>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director'].fillna('Unknown', inplace=True)
<ipython-input-15-87d98f5cfa43>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].fillna('Unknown', inplace=True)
<ipython-input-15-87d98f5cfa43>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cast'].fillna('Unknown', inplace=True)
<ipython-input-15-87d98f5cfa43>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna(df['rating'].mode()[0], inplace=True)
<ipython-input-15-87d98f5cfa43>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['date_added'].fillna('Unknown', inplace=True)
<ipython-input-15-87d98f5cfa43>:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df['date_added'].fillna('Unknown', inplace=True)

In [16]:
# Verify Missing Data Is Handled
df.isnull().sum().sort_values(ascending=False)

show_id           0
type              0
title             0
director          0
cast              0
country           0
date_added        0
release_year      0
rating            0
duration          0
listed_in         0
description       0
duration_value    0
duration_unit     0
dtype: int64

In [17]:
# Handle duplicates and normalize key columns
# Remove duplicate rows
print("Duplicate rows before removal:", df.duplicated().sum())
df = df.drop_duplicates()
print("Duplicate rows after removal:", df.duplicated().sum())

Duplicate rows before removal: 0
Duplicate rows after removal: 0

In [18]:
# Normalize 'rating'
df['rating'] = df['rating'].str.strip().str.upper()
rating_map = {
    'PG13': 'PG-13',
    'TVMA': 'TV-MA',
    'NOT RATED': 'NR',
    # Add other mappings if necessary
}
df['rating'] = df['rating'].replace(rating_map)

In [19]:
# Normalize 'country'
df['country'] = df['country'].str.strip()
df['country'] = df['country'].apply(lambda x: x.split(',')[0] if ',' in x else x)

In [20]:
# Normalize 'listed_in' (genres)
df['listed_in'] = df['listed_in'].str.lower().str.strip()

In [21]:
# Check unique values after normalization
print("\nUnique ratings after normalization:\n", df['rating'].unique())
print("\nUnique countries after normalization:\n", df['country'].unique()[:10])  # Show first 10 for brevity
print("\nSample genres after normalization:\n", df['listed_in'].sample(5))

Unique ratings after normalization:
 ['PG-13' 'TV-MA' 'PG' 'TV-14' 'TV-PG' 'TV-Y' 'TV-Y7' 'R' 'TV-G' 'G'
 'NC-17' '74 MIN' '84 MIN' '66 MIN' 'NR' 'TV-Y7-FV' 'UR']

Unique countries after normalization:
 ['United States' 'South Africa' 'Unknown' 'India' 'United Kingdom'
 'Germany' 'Mexico' 'Turkey' 'Australia' 'Finland']

Sample genres after normalization:
 1233                  comedies, international movies
494                       comedies, music & musicals
5934                                   documentaries
5939    tv dramas, tv mysteries, tv sci-fi & fantasy
6867                                          dramas
Name: listed_in, dtype: object

In [22]:
# Fixing rating anomalies:

# Identify rows where rating contains numbers or 'MIN' (likely wrong)
mask_bad_rating = df['rating'].str.contains(r'\d+|MIN', na=False)

In [23]:
# Show problematic rows for review
print("Rows with suspicious 'rating' values:")
print(df.loc[mask_bad_rating, ['title', 'rating', 'duration']])

Rows with suspicious 'rating' values:
                                                title rating   duration
0                                Dick Johnson Is Dead  PG-13     90 min
8                       The Great British Baking Show  TV-14  9 Seasons
9                                        The Starling  PG-13    104 min
18                                          Intrusion  TV-14     94 min
20    Monsters Inside: The 24 Faces of Billy Milligan  TV-14   1 Season
...                                               ...    ...        ...
8795                                  Yu-Gi-Oh! Arc-V  TV-Y7  2 Seasons
8797                                        Zak Storm  TV-Y7  3 Seasons
8799                                            Zenda  TV-14    120 min
8803                                      Zombie Dumb  TV-Y7  2 Seasons
8806                                           Zubaan  TV-14    111 min

[2996 rows x 3 columns]

In [24]:
# Replace these bad rating entries with NaN
df.loc[mask_bad_rating, 'rating'] = np.nan

In [25]:
# Fill NaN ratings with 'NR' (Not Rated)
df['rating'] = df['rating'].fillna('NR')

In [26]:
# Verify unique ratings again
unique_ratings = df['rating'].unique()
print("\nUnique ratings after cleaning:")
print(unique_ratings)

Unique ratings after cleaning:
['NR' 'TV-MA' 'PG' 'TV-PG' 'TV-Y' 'R' 'TV-G' 'G' 'UR']

In [27]:
# Check unique values after normalization
print("\nUnique ratings after normalization:\n", df['rating'].unique())
print("\nUnique countries after normalization:\n", df['country'].unique()[:10])  # Show first 10 for brevity
print("\nSample genres after normalization:\n", df['listed_in'].sample(5))

Unique ratings after normalization:
 ['NR' 'TV-MA' 'PG' 'TV-PG' 'TV-Y' 'R' 'TV-G' 'G' 'UR']

Unique countries after normalization:
 ['United States' 'South Africa' 'Unknown' 'India' 'United Kingdom'
 'Germany' 'Mexico' 'Turkey' 'Australia' 'Finland']

Sample genres after normalization:
 7736                international movies, romantic movies
6697    crime tv shows, spanish-language tv shows, tv ...
1278                                      stand-up comedy
7527                 comedies, cult movies, horror movies
6225                 comedies, dramas, independent movies
Name: listed_in, dtype: object

# Final validation and export.

In [29]:
# Check for any remaining missing values
print("Missing values per column after cleaning:")
print(df.isnull().sum())

Missing values per column after cleaning:
show_id           0
type              0
title             0
director          0
cast              0
country           0
date_added        0
release_year      0
rating            0
duration          0
listed_in         0
description       0
duration_value    0
duration_unit     0
dtype: int64

In [30]:
# Confirm data types
print("\nData types:")
print(df.dtypes)

Data types:
show_id           object
type              object
title             object
director          object
cast              object
country           object
date_added        object
release_year       int64
rating            object
duration          object
listed_in         object
description       object
duration_value    object
duration_unit     object
dtype: object

In [31]:
# Check for duplicates
print("\nNumber of duplicate rows after cleaning:", df.duplicated().sum())

Number of duplicate rows after cleaning: 0

In [32]:
# Sample some rows to visually inspect
print("\nSample rows:")
print(df.sample(5))

Sample rows:
     show_id     type                                title          director  \
3231   s3232    Movie                  True: Winter Wishes           Unknown
5451   s5452    Movie        Jackie: A Tale of Two Sisters  Edward Cotterill
8553   s8554    Movie  The Water Horse: Legend of the Deep       Jay Russell
2874   s2875  TV Show                       Altered Carbon           Unknown
4262   s4263  TV Show                       Watership Down        Noam Murro

                                                   cast         country  \
3231  Michela Luci, Jamie Watson, Eric Peterson, Ann...         Unknown
5451                                   Rachael Stirling  United Kingdom
8553  Emily Watson, Alex Etel, Ben Chaplin, David Mo...     New Zealand
2874  Joel Kinnaman, James Purefoy, Martha Higareda,...   United States
4262  James McAvoy, Nicholas Hoult, John Boyega, Ben...  United Kingdom

               date_added  release_year rating   duration  \
3231  2019-11-26 00:00:00          2019   TV-Y     46 min
5451  2017-06-01 00:00:00          2017  TV-PG     44 min
8553  2018-11-01 00:00:00          2007     PG    112 min
2874  2020-02-27 00:00:00          2020  TV-MA  2 Seasons
4262  2018-12-23 00:00:00          2018  TV-PG   1 Season

                                              listed_in  \
3231                           children & family movies
5451                                      documentaries
8553                           children & family movies
2874   crime tv shows, tv action & adventure, tv dramas
4262  british tv shows, international tv shows, tv a...

                                            description duration_value  \
3231  An ice crystal from a frosty realm is freezing...           46.0
5451  Rachael Stirling narrates this multifaceted po...           44.0
8553  A boy watches an egg he found hatch into somet...          112.0
2874  After 250 years on ice, a prisoner returns to ...            2.0
4262  A warren of rabbits battles many threats on th...            1.0

     duration_unit
3231           min
5451           min
8553           min
2874       Seasons
4262        Season

In [33]:
# Drop any helper columns added during wrangling if needed
if 'dir_cast' in df.columns:
    df.drop(columns=['dir_cast'], inplace=True)

In [34]:
# Reset index for cleanliness
df.reset_index(drop=True, inplace=True)

In [36]:
# Export cleaned dataframe to CSV
df.to_csv('cleaned_netflix.csv', index=False)
print("\nCleaned dataset saved as 'cleaned_netflix.csv'.")

Cleaned dataset saved as 'cleaned_netflix.csv'.

In [38]:
# Download the 'cleaned_netflix.csv' to local machine for analysis or visualization. (Optional).
from google.colab import files

files.download('cleaned_netflix.csv')